body{background-color:pink;}
p{color:green;font-family:Arial;}
h1{color:purple;font-family:Aharoni;}
h3{color:bule;font-family:Garamond;}
ul{list-style-type:lower-roman;color:yellow;font-family:"Iskoola"}
